/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .section-1 .card{
      width: 14rem;
    }

    .section-4 .col-md-7 img{
      width: 350px;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
    .site-content .site-title{
      font-size:30px;
      padding-left: 15%;
    }
    .site-content .site-btn2{
      display: none;
    }
    /* .site-content .site-btn1{
      margin-left: 15%;
    } */
    .section-1 .heading-1, .section-1 .heading-2{
      padding:5%;
      margin-left: 8%;
    }
    .section-1 .col-md-4{
      padding: 5%;
      margin-left: 8%;
    }
    .section-1 .card{
      width: 15rem;
    }
    .section-4 .col-md-5{
      padding: 0% 15%;
    }
    .section-4 .col-md-7 img {
      width: 490px;
      padding: 20px;
    }


}